.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-left,
.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-item {
    color: white;
    padding: 7px;
    text-decoration: none;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
}

button.play::before,
button.stop::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

button.play::before {
    border-width: 15px 0 15px 26px;
    border-color: transparent transparent transparent white;
    left: 10px;
}

button.stop::before {
    width: 50%;
    height: 50%;
    background-color: white;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

.stops-button {
    width: 100px;
    height: 55px
}

input[type="checkbox"] {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    /* background-color: #fff; */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 17px;
    height: 17px;
    border: 0.15em solid rgb(210, 210, 210);
    border-radius: 0.15em;
}

input[type="checkbox"]:checked {
    background-color: #45a049;
}